* {
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://marketplace.canva.com/EAE9oAp-Byc/1/0/1600w/canva-fondo-de-pantalla-escritorio-pc-abstracto-moderno-degradado-negro-PriNvkfDEzU.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.container h1 {
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 15px;
}

.container ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 15px;
}

.container li {
    margin-bottom: 10px;
    font-style: italic;
}

