<!DOCTYPE html>
<html>
<head>
  <title>Acerca de</title>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/about.css">
</head>
<body>
  <div class="container">
    <h1>Quiénes somos</h1>
    <p>Somos InnovateTech Solutions, una empresa líder en soluciones
      tecnológicas innovadoras. Nuestro equipo está compuesto por expertos apasionados por
      la tecnología, comprometidos en ofrecer resultados excepcionales a nuestros clientes.
      Nos enfocamos en impulsar el crecimiento y la transformación digital de las empresas a
      través de soluciones personalizadas y vanguardistas. Con una combinación de
      experiencia y creatividad, estamos listos para ayudarte a alcanzar tus objetivos
      tecnológicos y destacar en un mundo digital en constante evolución.</p>
      <div class="servisos">
        <h2>servicios</h2>
        <p>En InnovateTech Solutions, ofrecemos una amplia gama de servicios
          tecnológicos diseñados para satisfacer tus necesidades específicas. Desde el desarrollo
          de aplicaciones web y móviles hasta el diseño de interfaces de usuario, estamos
          preparados para enfrentar cualquier desafío tecnológico.
         </p>
         <h3>Nuestros servicios incluyen:</h3>
          <ul>
            <li>Desarrollo de software a medida
            </li>
            <li>Diseño y desarrollo web
            </li>
            <li> Desarrollo de aplicaciones móviles
            </li>
            <li>Consultoría tecnológica
            </li>
            <li>Integración de sistemas</li>
            <li>Diseño de interfaces de usuario (UI/UX)
            </li>
            <li>Servicios de análisis de datos</li>
            <li>Seguridad y protección de datos
            </li>
          </ul>
          <p>Confía en nuestro equipo altamente capacitado y experimentado para brindarte soluciones
            de alta calidad que impulsen tu negocio hacia el éxito.</p>
            <h3>Portafolio de proyectos:</h3>
            <p>Nuestro portafolio de proyectos muestra nuestra experiencia y
              el impacto que hemos tenido en diversas industrias. Hemos trabajado con empresas de
              diferentes tamaños y sectores, brindándoles soluciones tecnológicas a medida que han
              mejorado su eficiencia operativa y su presencia en línea. Estos son algunos de nuestros
              proyectos destacados:
            </p>
            <ul>
              <li>Diseño y desarrollo de una aplicación móvil de reserva de citas para una
                clínica médica.</li>
              <li>Desarrollo de una plataforma de comercio electrónico escalable para una
                empresa minorista líder</li>
              <li>Implementación de un sistema de gestión de inventario personalizado para
                una cadena de distribución</li>
              <li>Diseño y desarrollo de un sitio web interactivo para una agencia de
                marketing digital.</li>
            </ul>
            <p>Estos proyectos son solo ejemplos de nuestro trabajo. Estamos listos para abordar nuevos
              desafíos y encontrar soluciones innovadoras para tu empresa.
              </p>
      </div>
  </div>
</body>
</html>
