<!DOCTYPE html>
<html>
<head>
  <title>Contacto</title>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/contacto.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
  <div class="container">
    <h1>Contacto</h1>
    <div class="contacto-contenido">

      <p>Si deseas obtener más información sobre nuestros servicios o discutir tus 
        necesidades tecnológicas, no dudes en ponerte en contacto con nosotros. Estamos aquí 
        para ayudarte en cada paso del camino. Puedes comunicarte con nosotros a través de 
        los siguientes medios:</p>
      
      <div class="formulario">
        <form action="formulario">
          <input type="text" placeholder="nombre">
          <input type="text" placeholder="apellido">
          <input type="text" placeholder="telefono">
          <p>deja tu mensaje</p>
          <textarea name="mensaje" id="mensaje"></textarea>
          <button type="submit">Enviar</button>
        </form>
      </div>

      <div class="redes-sociales">

        <h2>nuestras redes</h2>
        <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
      </div>
        
    </div>
  </div>
</body>
</html>

