<!DOCTYPE html>
<html>
<head>
  <title>Página de inicio</title>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/style.css">

</head>
<body>
 
    <header>

      <div class="nav">
        <h1>InnovateTech Solutions</h1>
        <ul>
          
          <li><a href="/about">quienes somos</a></li>
          <li><a href="/contact">Contacto</a></li>
          <li><a href="/testimonio">Testimonios</a></li>
        </ul>

    </header>
    <div class="container">
      <div class="inicio">
        <div class="mision">
          <h2>
          mision
          </h2>
          <p> Nuestra misión es ofrecer soluciones tecnológicas innovadoras que impulsen el
            crecimiento y la transformación digital de nuestros clientes. Nos comprometemos a
            brindar productos y servicios de calidad que satisfagan las necesidades de manera
            efectiva y eficiente.</p>
        </div>
        <div class="vision">
          <h2>
          vision
          </h2>
          <p> Ser reconocidos como líderes en el sector tecnológico, destacando por nuestra
            excelencia en la entrega de soluciones personalizadas y nuestra capacidad para
            adaptarnos y abrazar las últimas tendencias tecnológicas. Aspiramos a establecer
            relaciones duraderas con nuestros clientes, basadas en la confianza y el éxito mutuo.
            .</p>
        </div>
      </div>
    </div>


  </div>
</body>
</html>
