<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/testimonio.css">
    <title>testimonios</title>
</head>
<body>
    <div class="container">
        <div class="inicio">
            <h1>TESTIMONIOS</h1>
            <P>Nuestros clientes han experimentado los beneficios de trabajar 
             con InnovateTech Solutions. Aquí tienes algunos testimonios que reflejan la calidad y el 
             impacto de nuestros servicios:</P>
             <ul>
                <h2>Empresa XYZ</h2>
                <li>"La colaboración con InnovateTech Solutions ha sido excepcional. Han superado 
                    nuestras expectativas en términos de calidad, tiempo de entrega y atención al cliente". -
                    
                </li>
                <li>
                    <h2>- Empresa ABC</h2>
                    El equipo de InnovateTech Solutions comprendió perfectamente nuestras necesidades 
                    y nos brindó una solución personalizada que ha mejorado nuestra eficiencia operativa de 
                    manera significativa". 
                </li>
                <li>
                    <h2>Empresa 123</h2>
                    Recomendaría a InnovateTech Solutions a cualquier empresa que busque soluciones 
                    tecnológicas de vanguardia. Su enfoque en la innovación y la calidad es impresionante". -
                    
                </li>
             </ul>
             <p>Estos testimonios son solo una muestra de la satisfacción de nuestros clientes. Trabajamos 
                arduamente para garantizar la excelencia en cada proyecto y mantener relaciones 
                comerciales sólidas y duraderas.</p>

        </div>
    </div>
</body>
</html>