* {
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://marketplace.canva.com/EAE9oAp-Byc/1/0/1600w/canva-fondo-de-pantalla-escritorio-pc-abstracto-moderno-degradado-negro-PriNvkfDEzU.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 15px;
}

.contacto-contenido {
    margin-top: 20px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario textarea {
    height: 150px;
}

.formulario button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.redes-sociales{
    margin-top: 30px;
}
.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #007bff;
}

.redes-sociales h2{
    margin-bottom: 30px;
}
